:root {
  --padding: 2vw;
  --gap: 4em;
  --font-size: clamp(1rem, 1.25vw, 2.5rem);
  --letter-spacing: 0.3em;
}

/* dark-theme colors */
:root {
  --bg-color: midnightblue;
  --text: var(--white);
  --text-contrast: var(--black);
  --theme: lightsteelblue;
  --contrast: rebeccapurple;
  --medium: indigo;
  --accent: coral;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: unset;
  --shadow-deep: unset;
}


/* light-theme colors */
:root {
  --bg-color: floralwhite;
  --text: var(--black);
  --text-contrast: var(--white);
  --theme: var(--white);
  --medium: whitesmoke;
  --contrast: lavender;
  --accent: fuchsia;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.2);
  --shadow-deep: 0 0.5vw 2vw  0 rgba(0,0,0,0.2);
}


html {
  background-color: var(--bg-color);
}


body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
} 


p {
  line-height: 1.5;
  max-width: 60em;
}

small, b, strong, input {
  font-size: 0.5rem;
  letter-spacing: initial;
}

nav {
  justify-content: flex-end;
}


hr {
  margin-block-end: 0.5rem;
  border:unset;
}

.contact .img, .msg-main .img, form .img {
  height: 1.5rem;
  width: 1.5rem;
  margin-inline-end: 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: var(--theme) 0.1rem solid;
}

form .img {
  border-color: var(--text);
}

.contact .img img, .msg-main .img  img, form .img img {
  min-width: initial;
  height: 100%;
  width: auto;
}

.contact, .msg-main, form {
  display:flex;
  align-items: center;
}

.iphone {
  width: 14rem;
    aspect-ratio: 9/18;
    border: 0.6rem solid var(--theme);
    border-radius: 3rem;
	overflow: hidden;
  }

.screen {
  background-color: var(--medium);
  min-height: 100%;
    overflow: hidden;
  }


  .screen > * {
	padding: 0.5rem;
  }

  .header {
	color: var(--text-contrast);
	background-color: var(--accent);
	padding-block-start: 0;
	height: 2.5rem;
  }

.notch {
  background-color: var(--theme);
    width: 6rem;
    height: 1rem;
    margin-block-start: -0.3rem;
    border-radius: 0.5rem;
  }

.msg, input {
  margin: 0.7rem;
  border-radius: 0.4rem;
  max-width: 60%;
  line-height: 0.4rem;
}

  .msg-left {
	background-color: var(--contrast);
  }

  .msg-right {
	background-color: var(--theme);
	margin-inline-start: auto;
  }

  .dogs {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	gap: 0.8rem;
  }

  .dogs img {
	width: 2rem;
	border-radius: 0.3rem;
  }

  .msg-main {
	background-color: var(--accent);
  }
   
.msg-main .img {
  width: 0.7rem;
  height: 0.7rem;
}

form {
  margin-block-start: -0.5rem;
  padding: 0;
}

input {
  height: 1rem;
  margin: 0 0.5rem 0 0;
}

.wrapper {
  min-height: 100vh;
}

.container {
  flex-direction: column;
  width: 80vw; 
  min-width: 320px;
  padding: var(--padding) 0;
}

.flex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.two > *, .three > *{
  flex-grow: 1;
  flex-basis: calc(( 16em - 35%) * 999);
}

.two > :nth-last-child(n+ 3),
.two > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.center {
  text-align: center;
}

.centered {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


